/Design Patterns/OOP Principles/LiskovPrinciple/build/
/Design Patterns/OOP Principles/LiskovPrinciple/nbproject/private/
/Design Patterns/OOP Principles/SOLID/DependencyInversionPrinciple/build/
/Design Patterns/OOP Principles/SOLID/DependencyInversionPrinciple/nbproject/private/
/Design Patterns/OOP Principles/SOLID/InterfaceSegreggationPrinciple/build/
/Design Patterns/OOP Principles/SOLID/InterfaceSegreggationPrinciple/nbproject/private/
/Design Patterns/OOP Principles/SOLID/OpenClosedPrinciple/nbproject/private/
/Design Patterns/OOP Principles/SOLID/SingleResponsiblityPrinciple/build/
/Design Patterns/OOP Principles/SOLID/SingleResponsiblityPrinciple/nbproject/private/
